<a href="https://colab.research.google.com/github/abhinavp20201/python_assignment/blob/main/Python_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Create a list with integers from 1 to 10.
ls = []
for i in range(1,11):
  ls.append(i)
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2. Find the length of a list without using the `len()` function.
ls = ["hi","hello","world"]
count = 0
for i in ls:
  count+=1
print("Length of list: ",count)

Length of list:  3

In [ ]:
#3. Append an element to the end of a list.
ls = ["hi","hello","world"]
print("list: ", ls)
ls.append("world")
print("List after appending: ",ls)

list:  ['hi', 'hello', 'world']
List after appending:  ['hi', 'hello', 'world', 'world']

In [ ]:
#4. Insert an element at a specific index in a list.:
print("list: ", ls)
ls.insert(2,"hi")
print("List after appending: ",ls)

list:  ['hi', 'hello', 'world', 'world']
List after appending:  ['hi', 'hello', 'hi', 'world', 'world']

In [ ]:
#5. Remove an element from a list by its value.
print("list: ", ls)
ls.remove("hello")
print("List after appending: ",ls)

list:  ['hi', 'hello', 'hi', 'world', 'world']
List after appending:  ['hi', 'hi', 'world', 'world']

In [ ]:
#6. Remove an element from a list by its index.
print("list: ", ls)
ls.pop(3)
print("List after appending: ",ls)

list:  ['hi', 'hi', 'world', 'world']
List after appending:  ['hi', 'hi', 'world']

In [ ]:
#7. Check if an element exists in a list.
search = input("Enter the element to search: ")
if search in ls :
  print("Element is present in the list")
else:
  print("Element is not present in the list")

Enter the element to search: world
Element is present in the list

In [ ]:
#8. Fin,d the index of the first occurrence of an element in a list.
ls = [5,6,9,8,4,23,5]
print("List: ",ls)
element = int(input("Enter the element need to check: "))
occurence = ls.index(element)
print(f"first occurence of the '{element}': ",occurence)

List:  [5, 6, 9, 8, 4, 23, 5]
Enter the element need to check: 23
first occurence of the '23':  5

In [ ]:
#9. Count the occurrences of an element in a list.
print("List: ",ls)
element = int(input("Enter the element need to check: "))
occurence = ls.count(element)
print("Count of occurrence of '{element}': ",occurence)

List:  [5, 6, 9, 8, 4, 23, 5]
Enter the element need to check: 5
Count of occurrence of '{element}':  2

In [ ]:
#10. Reverse the order of elements in a list.
print("List: ",ls)
rev = ls[::-1]
print("List in reverse order: ",rev)

List:  [6, 9, 2, 1, 4, 3, 8, 5]
List in reverse order:  [5, 8, 3, 4, 1, 2, 9, 6]

In [ ]:
#11. Sort a list in ascending order.
ls = [6,9,2,1,4,3,8,5]
print("List: ",ls)
asc_ls = sorted(ls)
print("List in ascending order: ",asc_ls)

List:  [6, 9, 2, 1, 4, 3, 8, 5]
List in ascending order:  [1, 2, 3, 4, 5, 6, 8, 9]

In [ ]:
#12. Sort a list in descending order.
ls = [5,2,9,1,5]
print("List: ",ls)
desc_ls = sorted(ls,reverse=True)
print("List in descending order: ",desc_ls)

List:  [5, 2, 9, 1, 5]
List in descending order:  [9, 5, 5, 2, 1]

In [ ]:
#13. Create a list of even numbers from 1 to 20.
ls = []
print("List of even number from 1 to 20: ")
for i in range(2,21,2):
  ls.append(i)
print(ls)

List of even number from 1 to 20:
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#14. Create a list of odd numbers from 1 to 20.
ls = []
print("List of odd number from 1 to 20: ")
for i in range(1,20,2):
  ls.append(i)
print(ls)

List of odd number from 1 to 20:
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#15. Find the sum of all elements in a list.
print("List: ",ls)
sum = 0
for i in ls:
  sum+=i
print("Sum: ",sum)

List:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Sum:  100

In [ ]:
#16. Find the maximum value in a list.
print("List: ",ls)
value = max(ls)
print("Maximum value: ",value)

List:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Maximum value:  19

In [ ]:
#17. Find the minimum value in a list.
print("List: ",ls)
value = min(ls)
print("Minimum value: ",value)

List:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Minimum value:  1

In [ ]:
#18. Create a list of squares of numbers from 1 to 10.
ls = []
print("List of square of number from 1 to 10: ")
for i in range(1,11):
  ls.append(i*i)
print(ls)

List of square of number from 1 to 10:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#19. Create a list of random numbers.
import random
ls = []
print("List of randum numbers: ")
for i in range(5):
  num = random.randint(1,100)
  ls.append(num)
print(ls)

List of randum numbers:
[79, 83, 14, 63, 10]

In [ ]:
#20. Remove duplicates from a list.
ls = [10,20,30,20,5,6,8]
print("List: ",ls)
newls = []
for i in ls:
  if i not in newls:
    newls.append(i)
print("List after removing the dublicates: ",newls)

List:  [10, 20, 30, 20, 5, 6, 8]
List after removing the dublicates:  [10, 20, 30, 5, 6, 8]

In [ ]:
#21. Find the common elements between two lists.
ls1 = [2,3,5,7,2,3,8,1,9,1,7,9,2]
ls2 = [1,2,4,6,9,0,3,11,34]
newls = list(set(ls1).intersection(ls2))
print("List1: ",ls1)
print("List2: ",ls2)
print("Common elements: ",newls)

List1:  [2, 3, 5, 7, 2, 3, 8, 1, 9, 1, 7, 9, 2]
List2:  [1, 2, 4, 6, 9, 0, 3, 11, 34]
Common elements:  [1, 2, 3, 9]

In [ ]:
#22. Find the difference between two lists.]
newls = list(set(ls1).difference(ls2))
print("List1: ",ls1)
print("List2: ",ls2)
print("different elements: ",newls)

List1:  [2, 3, 5, 7, 2, 3, 8, 1, 9, 1, 7, 9, 2]
List2:  [1, 2, 4, 6, 9, 0, 3, 11, 34]
different elements:  [5, 7, 8]

In [ ]:
#23. Merge two lists.
newls = ls1 + ls2
print("List1: ",ls1)
print("List2: ",ls2)
print("merge list: ",newls)

List1:  [2, 3, 5, 7, 2, 3, 8, 1, 9, 1, 7, 9, 2]
List2:  [1, 2, 4, 6, 9, 0, 3, 11, 34]
merge list:  [2, 3, 5, 7, 2, 3, 8, 1, 9, 1, 7, 9, 2, 1, 2, 4, 6, 9, 0, 3, 11, 34]

In [ ]:
#24. Multiply all elements in a list by 2.
ls = [2, 3, 5, 7, 8, 1, 9, 1]
doubled_list = []

print("List:", ls)
print("List multiplied by 2:")

for i in ls:
    doubled_value = i * 2
    doubled_list.append(doubled_value)

print("Doubled list:", doubled_list)

List: [2, 3, 5, 7, 8, 1, 9, 1]
List multiplied by 2:
Doubled list: [4, 6, 10, 14, 16, 2, 18, 2]

In [ ]:
#25. Filter out all even numbers from a list.
print("List: ",ls)
newls = []
for i in ls:
  if i%2 != 0:
    newls.append(i)
print("List after removing even numbers: ",newls)

List:  [2, 3, 5, 7, 8, 1, 9, 1]
List after removing even numbers:  [3, 5, 7, 1, 9, 1]